\documentclass[version=last,12pt,addrfield=false]{scrlttr2}

\usepackage{mathpazo}
\usepackage{microtype}

\setkomavar{fromname}{\VAR{letter.author}}
\setkomavar{date}{\VAR{letter.date}}
\setkomavar{subject}{\VAR{letter.subject}}
\setkomavar{signature}{\VAR{letter.signature}}

\begin{document}
\begin{letter}{}
\opening{\VAR{letter.opening}}

\VAR{letter.content}

\closing{\VAR{letter.closing}}
\end{letter}
\end{document}
